<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Contact Management', root_path, class: 'navbar-brand' %>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li>
          <%= link_to edit_user_registration_path do %>
            <span class="glyphicon glyphicon-user"></span> Cập nhật thông tin cá nhân
          <% end %>
        </li>
        <li>
          <%= link_to contacts_path do %>
            <span class="glyphicon glyphicon-th-list"></span> Quản lý danh bạ
          <% end %>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <span class="glyphicon glyphicon-log-out"></span> Đăng xuất
          <% end %>
        </li> 
      <% else %>
        <li><%= link_to 'Đăng nhập' , new_user_session_path %></li>
        <li><%= link_to 'Đăng ký', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>